* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar > ul {
  list-style: none;
}

.main-content {
  display: flex;
  margin-top: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header.jpg");
  background-size: cover;
}

.logo__img {
  height: 100px;
}

a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 50px;
}
nav {
  display: flex;
  align-items: center;
}

.user {
  color: #fff;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 1px;
  cursor: pointer;
  transition: all .2s;
}

.user:hover {
  background-color: #fff;
  color: #191919;
}

.product {
  margin-bottom: 50px;
  border-radius: 5px;
  padding-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);;
  transition: all .2s;
}

.product:hover {
  border: 1px solid #c0392b;
  box-shadow: 0px 10px 30px rgba(204, 204, 204, 0.692);
  transform: translateY(-2px);
}

.product__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__top--img {
  width: 70%;
}

.product__bottom {
  padding-left: 50px;
}

.product__title p {
  margin-top: 10px;
}

.product__price p {
  font-weight: 500;
  margin-top: 5px;
}

.product__category {
  font-size: 14px;
  color: rgb(179, 179, 179);
}

/* URUN DETAY */

.game-main {
  padding: 50px 0;
}

.game-title {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.game-bottom {
  margin-top: 50px;
  display: flex;
}

.game-left {
  width: 50%;
  overflow: hidden;
}

.game-right {
  margin-top: 50px;
  margin-left: 40px;
}

.seller-name {
  font-weight: 500;
  color: #e67e22;
  margin-bottom: 10px;
  font-size: 20px
}

.seller-rate {
  font-size: 14px;
  color: #333;
}

.desc {
  margin-bottom: 20px;
  padding: 0 20px;
}

.desc p {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}

.desc__title {
  border-bottom: 1px dotted #dddddd;
  padding-bottom: 5px;
  margin-bottom: 20px;
  width: 50%;
}

.price {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #e67e22;
}

.buy {
  margin-top: 50px;
}

.buy__btn {
  background: #1B995F;
  border-radius: 4px;
  padding: 10px 50px;
  transition: all .2s;
}

.buy__btn:hover {
  background: rgb(11, 112, 65);
}

.other-seller {
  margin-bottom: 100px;
}

.other-seller-title {
  margin-bottom: 50px;
}

.other-seller-name {
  color: #3498db;
  font-weight: 500;
}

.other-seller-desc {
  font-size: 14px;
  color: rgb(114, 114, 114);
}

.bottom-seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
  transition: all .1s;
}

.bottom-seller:hover {
  background: rgba(204, 204, 204, 0.3);
}

.bottom-price {
  font-size: 20px;
  color: #e67e22;
  margin-right: 10px;
}

.seller-right {
  display: flex;
  align-items: center;
}

.other-buy-btn {
  background: #1B995F;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 15px;
}

.other-seller-rate {
  margin-top: 5px;
  font-size: 14px;
  color: #7f8c8d;
}

.login {
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  padding: 10px 30px;
  background: none;
  font-size: 16px;
  outline: none;
  color: #fff;
}

.login input:focus {
  border-bottom: 1px solid #c23516d7;
}

.login input::placeholder {
  color: #fff;
}

.login button {
  border: none;
  padding: 15px 120px;
  border-radius: 100px;
  color: #fff;
  background: #c23516d7;
  font-weight: 500;
  transition: all .2s;
  cursor: pointer;
  font-size: 16px;
}

.login button:hover {
  background: #273c75c5;
}

.form-group {
  display: flex;
}

.icon {
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  font-size: 14px;
  margin-top: 12px;
}

.form {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/login.jpg");
  background-size: cover;
  height: 100vh;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.login-link {
  position: relative;
  padding: 10px;
}

.login-link::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: #c23516;
  border-radius: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ********** */

/* SELL GAME */

/* ******** */

.sell-game {
  margin: 20px auto 0 auto;
  padding: 10px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../images/sell-game.jpg");
  background-size: cover;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.342);
}

.sell-game-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sell-game__title {
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #fff;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-item select,
input,
textarea {
  padding: 5px 10px;
  border: 1px solid #c23516d7;
  border-radius: 3px;
}

.form-item label {
  margin-bottom: 5px;
  color: #fff;
}

.sell-game__btn {
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 3px;
  background: #c23516d7;
  color: #fff;
  border: none;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  transition: .1s;
}

.sell-game__btn:hover {
  background: #273c75c5;
}