<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="css/flickity.min.css">
  <link rel="stylesheet" href="../css/main.css">


</head>


<body>
  <header class="header">
    <div class="logo">
      <a href="/">
        <img class="logo__img" src="../images/logo.png" alt=""></a>
    </div>

    <nav>
      <a href="/contact">Bize Ulaşın</a>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/sell-game">Oyun Sat</a>
        <p>Email: {{ app.user.email }}</p>
        <a href="{{ path('logout') }}">Çikis</a>
      {% else %}
        <a href="/register">Üye Ol</a>
        <a href="/login">Giriş Yap</a>
      {% endif %}
    </nav>
  </header>