<ul class="sidebar-content">
    <li><a href="/orders">Bilgilerim</a></li>
    <li><a href="/orders">Duzenle</a></li>
    <li><a href="/orders">Siparişlerim</a></li>
    <li><a href="/shopcart">Sepetim</a></li>
</ul>